{% extends "mainapp/layout.html" %}
{% load static %}
{% block body %}

<main class="container-fluid">
<div class="row">

    <!-- logo section -->
    <div class="col-12 col-lg-5 side-section gradient-bg d-flex justify-content-center align-items-center">
        <h1 class="logo-text">Join Us!!</h1>
    </div>

    <!-- form section -->
     <div class="col-12 col-lg-7 min-vh-100">

    <!-- Messages -->
   {% if messages %}
        <div class="container mt-3">
        {% for message in messages %}
            <div class="alert 
                {% if message.tags == 'error' %}alert-danger
                {% else %}alert-{{ message.tags }}
                {% endif %}
                alert-dismissible fade show" role="alert">

                {{ message }}

                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
        </div>
    {% endif %}


        <div class="p-5">
            <h2 class="pb-3 underline">Create a new user</h2>
            <form action="{% url 'enroll' %}" method="post" class="mt-5" id="form">
                {% csrf_token %}
                <div class="form-group mb-4">
                    <label for="username">Username</label>
                    <input type="text" class="form-control mt-2" id="username" name="username" placeholder="username">
                </div>
                <div class="form-group mb-4">
                    <label for="biometric_1">Type <strong>{{ bio_word }}</strong> exactly 3 times</label>
                    <input type="text" class="form-control mt-2" id="biometric_1" name="biometric_1" placeholder="{{ bio_word }}">
                    <input type="hidden" name="timestamps_1" id="timestamps_1" value="">
                </div>
                <div class="form-group mb-4">
                    <input type="text" class="form-control mt-2" id="biometric_2" name="biometric_2" placeholder="{{ bio_word }}">
                    <input type="hidden" name="timestamps_2" id="timestamps_2" value="">
                </div>
                <div class="form-group mb-4">
                    <input type="text" class="form-control mt-2" id="biometric_3" name="biometric_3" placeholder="{{ bio_word }}">
                    <input type="hidden" name="timestamps_3" id="timestamps_3" value="">
                </div>

                <button type="submit" class="btn btn-main w-100">Create</button>
            </form>
        </div>

        <div class="text-center mb-3">
            <div class="d-inline-block">
                <span>Already have an account?</span>
                <a href="{% url 'login' %}" class="link-text">Login</a>
        </div>
     </div>
</div>

<script type="module">
    import {captureKeystrokes} from "{% static 'mainapp/keystrokes.js' %}"
    captureKeystrokes(
        document.getElementById("timestamps_1"),
        document.getElementById("biometric_1"),
        document.getElementById("form")
    );
    captureKeystrokes(
        document.getElementById("timestamps_2"),
        document.getElementById("biometric_2"),
        document.getElementById("form")
    );
    captureKeystrokes(
        document.getElementById("timestamps_3"),
        document.getElementById("biometric_3"),
        document.getElementById("form")
    );
</script>

</div></main>

{% endblock %}