{% extends "mainapp/layout.html" %}
{% load static %}
{% block body %}

<main class="container-fluid">
<div class="row">

    <!-- logo section -->
    <div class="col-12 col-lg-5 side-section gradient-bg d-flex justify-content-center align-items-center">
        <h1 class="logo-text">Join Us!!</h1>
    </div>

    <!-- form section -->
     <div class="col-12 col-lg-7 min-vh-100">

    <!-- Messages -->
   {% if messages %}
        <div class="container mt-3">
        {% for message in messages %}
            <div class="alert 
                {% if message.tags == 'error' %}alert-danger
                {% else %}alert-{{ message.tags }}
                {% endif %}
                alert-dismissible fade show" role="alert">

                {{ message }}

                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
        </div>
    {% endif %}


        <div class="p-5">
            <h2 class="pb-3 underline">Create a new user</h2>
            <form action="{% url 'enroll' %}" method="post" class="mt-5" id="form">
                {% csrf_token %}
                <div class="form-group mb-4">
                    <label for="username">Username</label>
                    <input type="text" class="form-control mt-2" id="username" name="username">
                </div>
                <div class="form-group mb-4">
                    <label for="biometric">Biometric</label>
                    <input type="text" class="form-control mt-2" id="biometric" name="biometric">
                    <input type="hidden" name="timestamps" id="timestamps" value="">
                </div>
                <button type="submit" class="btn btn-main w-100">Create</button>
            </form>
        </div>

        <div class="text-center mb-3">
            <div class="d-inline-block">
                <span>Already have an account?</span>
                <a href="{% url 'login' %}" class="link-text">Login</a>
        </div>
     </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", () => {

        // send timestamps of keystrokes to backend
        const time_input = document.getElementById("timestamps");
        const bio_input = document.getElementById("biometric");
        const form = document.getElementById('form');
        const  timestamps = [];
        const active = {};
        bio_input.addEventListener('keydown', (event) => {
            if(/^[a-zA-Z0-9]$/.test(event.key)){
                const k = event.key.toLowerCase();
                if(active[k]) return;
                active[k] = {
                    'key' : k,
                    'dt' : Date.now()
                };
            }
        })
        bio_input.addEventListener('keyup', (event) => {
            if(/^[a-zA-Z0-9]$/.test(event.key)){
                const k = event.key.toLowerCase();
                if(active[k]){
                    active[k].ut = Date.now();
                    timestamps.push(active[k]);
                    delete active[k];
                }
            }
            
        })
        form.addEventListener('submit', () => {
            time_input.value = JSON.stringify(timestamps);
        })
        
    })
</script>
</div></main>

{% endblock %}