{% extends "mainapp/layout.html" %}
{% load static %}
{% block body %}

<main class="container-fluid">
<div class="row">

    <!-- logo section -->
    <div class="col-12 col-lg-5 gradient-bg logo-section">
        <h1>Join Us!!</h1>
    </div>

    <!-- form section -->
     <div class="col-12 col-lg-7 min-vh-100">

    <!-- Messages -->
   {% if messages %}
        <div class="container mt-3">
        {% for message in messages %}
            <div class="alert 
                {% if message.tags == 'error' %}alert-danger
                {% else %}alert-{{ message.tags }}
                {% endif %}
                alert-dismissible fade show" role="alert">

                {{ message }}

                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
        </div>
    {% endif %}


        <div class="p-5">
            <h2 class="pb-3 underline">Create a new user</h2>
            <form action="{% url 'enroll' %}" method="post" class="mt-5">
                {% csrf_token %}
                <div class="form-group mb-4">
                    <label for="username">Username</label>
                    <input type="text" class="form-control mt-2" id="username" name="username">
                </div>
                <div class="form-group mb-4">
                    <label for="biometric">Biometric</label>
                    <input type="text" class="form-control mt-2" id="biometric" name="biometric">
                </div>
                <button type="submit" class="btn btn-main w-100 mb-3">Create</button>
            </form>
        </div>
     </div>
</div>
</main>

{% endblock %}